.card{
    background: #ffffff;
    padding:40px;
    border-radius:10px;
    text-align:center;
    text-decoration:none;
    color:black;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    transition:0.2s;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.card:hover{
    transform:scale(1.02);
}

.card h2{
    font-size:100px;
}

.card a {
    text-decoration: none; /* tira o underline padrão */
    color: black;
    display: inline-block;
    position: relative;
    padding-bottom: 8px; /* espaço entre texto e borda */
}

